@import './material-styles.scss';

$primary: mat-palette($mat-purple, 100);
$accent: mat-palette($mat-gray, 50);
$warn: mat-palette($mat-red, A200);

$default-theme: mat-dark-theme($primary, $accent, $warn);
@include style-theme($default-theme);
@include angular-material-theme($default-theme);
